<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="eci.pdsw.mybatis.mappers.EquipoMapper">
    <!--- Para usuario -->
    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='correo' column='correo'/>      
        <result property='contrasena' column='contrasena'/>
        <collection property='prestamos' ofType='PrestamoUsuario' resultMap="PrestamoUsuarioResult" columnPrefix="pre_"></collection>
        <collection property='prestamosBasicos' ofType='PrestamoBasicoUsuario' resultMap="PrestamoBasicoUsuarioResult" columnPrefix="preb_"></collection>
        <collection property='roles' ofType='RolUsuario' resultMap="RolesUsuarioResult" columnPrefix="rol_"></collection>
    </resultMap>
    <resultMap type='PrestamoUsuario' id='PrestamoUsuarioResult'>
        <result property='equipo_serial' column='equipo_serial'></result>
        <result property='fechaExpedicion' column='fechaExpedicion'/>
        <result property='fechaVencimiento' column='fechaVencimiento'/>        
        <result property='tipoPrestamo' column='tipoPrestamo'/>
    </resultMap>
    <resultMap type='PrestamoBasicoUsuario' id='PrestamoBasicoUsuarioResult'>
        <result property='equipoBasico_nombre' column='equipoBasico_nombre'/>
        <result property='fechaExpedicion' column='fechaExpedicion'/>
        <result property='fechaVencimiento' column='fechaVencimiento'/>        
        <result property='tipoPrestamo' column='tipoPrestamo'/>
        <result property='cantidadPrestada' column='cantidadPrestada'/>
    </resultMap>
    <resultMap type="RolUsuario" id='RolesUsuarioResult'>
        <result property='rol_r' column='rol_r'/>
    </resultMap>
    <!--- Para equipo -->
    <resultMap type='Modelo' id='ModeloResult'>
        <id property='nombre' column='nombre'/>
        <result property='clase' column='clase'/>
        <result property='vidaUtilHoras' column='vidaUtil'/>
        <result property='valorComercial' column='valor'/>      
        <result property='seguro' column='seguro'/>
        <result property='foto' column='foto'/>
        <collection property='equipos' ofType='Equipo' resultMap="EquipoResult" columnPrefix="eq_"></collection>
    </resultMap>
    <resultMap type='Equipo' id='EquipoResult'>
        <id property='serial' column='serial'/>
        <result property='nombre' column='nombre'/>
        <result property='placa' column='placa'/>
        <result property='marca' column='marca'/>
        <result property='descripcion' column='descripcion'/>
        <result property='estado' column='estado'/>
        <result property='subEstado' column='subEstado'/>
        <result property='proveedor' column='proveedor'/>
        <collection property='prestamos' ofType='PrestamoEquipo' resultMap="PrestamoEquipoResult" columnPrefix="pre_"></collection>        
    </resultMap>
    <resultMap type='PrestamoEquipo' id='PrestamoEquipoResult'>
        <result property='usuario_id' column='usuario_id'/>
        <result property='fechaExpedicion' column='fechaExpedicion'/>
        <result property='fechaVencimiento' column='fechaVencimiento'/>        
        <result property='tipoPrestamo' column='tipoPrestamo'/>
    </resultMap>
     <!--- Para equipo basico-->
     <resultMap type='EquipoBasico' id='EquipoBasicoResult'>
        <id property='nombre' column='nombre'/>
        <result property='valor' column='valor'/>
        <result property='foto' column='foto'/>
        <result property='descripcion' column='descripcion'/>
        <result property='cantidadInventario' column='cantidadInventario'/>
        <collection property='prestamosBasicos' ofType='PrestamoBasicoEquipo' resultMap="PrestamoBasicoEquipoResult" columnPrefix="preb_"></collection>        
    </resultMap>
     <resultMap type='PrestamoBasicoEquipo' id='PrestamoBasicoEquipoResult'>
        <result property='usuario_id' column='usuario_id'/>
        <result property='fechaExpedicion' column='fechaExpedicion'/>
        <result property='fechaVencimiento' column='fechaVencimiento'/>        
        <result property='tipoPrestamo' column='tipoPrestamo'/>
        <result property='cantidadPrestada' column='cantidadPrestada'/>
    </resultMap>
    <!--- Metodos -->
    <select id='loadUsuarioById' parameterType='map' resultMap='UsuarioResult'> 
        SELECT us.id,us.nombre,us.correo,us.contrasena,
               pre.EQUIPOS_serial as pre_equipo_serial,pre.fechaExpedicion as pre_fechaExpedicion,pre.fechaVencimiento as pre_fechaVencimiento,pre.tipoPrestamo as pre_tipoPrestamo,
               preb.EQUIPOS_BASICOS_nombre as preb_equipoBasico_nombre,preb.fechaExpedicion as preb_fechaExpedicion,preb.fechaVencimiento as preb_fechaVencimiento,preb.tipoPrestamo as preb_tipoPrestamo,preb.cantidadPrestada as preb_cantidadPrestada,
               rol.ROLES_rol as rol_rol_r 
        FROM  USUARIOS as us 
                       left join PRESTAMOS as pre on us.id=pre.USUARIOS_id
                       left join PRESTAMOS_BASICOS as preb on  us.id=preb.USUARIOS_id
                       left join ROLES_USUARIOS as rol on us.id=rol.USUARIOS_id
        WHERE us.id=#{idusuario}
    </select>
    
    <select id='loadModeloByName' parameterType='map' resultMap='ModeloResult'> 
        SELECT mod.nombre,mod.clase,mod.vidaUtil,mod.valor,mod.seguro,mod.foto,
               eq.serial as eq_serial,eq.nombre as eq_nombre,eq.placa as eq_placa,eq.marca as eq_marca,eq.descripcion as eq_descripcion,eq.estado as eq_estado,eq.subestados as eq_subEstado,eq.proveedor as eq_proveedor
        FROM MODELOS as mod
                     left join EQUIPOS as eq on mod.nombre=eq.Modelos_nombre
        WHERE mod.nombre=#{nombremodelo}
    </select>
    
    <select id='loadEquipoBySerial' parameterType='map' resultMap='EquipoResult'>
        SELECT eq.serial,eq.nombre,eq.placa,eq.marca,eq.descripcion,eq.estado,eq.subestados as subEstado,eq.proveedor,
               pre.USUARIOS_id as pre_usuario_id,pre.fechaExpedicion as pre_fechaExpedicion,pre.fechaVencimiento as pre_fechaVencimiento,pre.tipoPrestamo as pre_tipoPrestamo
        FROM EQUIPOS as eq
                     left join PRESTAMOS as pre on eq.serial=pre.EQUIPOS_serial
        WHERE eq.serial=#{serialequipo}
    </select>
    
    <select id='loadEquipoBasicoByName' parameterType='map' resultMap='EquipoBasicoResult'>
        SELECT eqb.nombre,eqb.valor,eqb.foto,eqb.descripcion,eqb.cantidad as cantidadInventario, 
               preb.USUARIOS_id as preb_usuario_id,preb.fechaExpedicion as preb_fechaExpedicion,preb.fechaVencimiento as preb_fechaVencimiento,preb.tipoPrestamo as preb_tipoPrestamo,preb.cantidadPrestada as preb_cantidadPrestada
        FROM EQUIPOS_BASICOS as eqb
                     left join PRESTAMOS_BASICOS as preb on eqb.nombre=preb.EQUIPOS_BASICOS_nombre
        WHERE eqb.nombre=#{nombreequipobasico}
    </select>
    
    <select id='loadPrestamos' parameterType='map' resultMap='PrestamoUsuarioResult'>
        SELECT pre.USUARIOS_id as usuario_id,pre.EQUIPOS_serial as equipo_serial,pre.fechaExpedicion,pre.fechaVencimiento,pre.tipoPrestamo FROM PRESTAMOS as pre;
    </select>
    
    <select id='loadUsuarios' parameterType='map' resultMap='UsuarioResult'>
        SELECT us.id,us.nombre,us.correo,us.contrasena,
               pre.EQUIPOS_serial as pre_equipo_serial,pre.fechaExpedicion as pre_fechaExpedicion,pre.fechaVencimiento as pre_fechaVencimiento,pre.tipoPrestamo as pre_tipoPrestamo,
               preb.EQUIPOS_BASICOS_nombre as preb_equipoBasico_nombre,preb.fechaExpedicion as preb_fechaExpedicion,preb.fechaVencimiento as preb_fechaVencimiento,preb.tipoPrestamo as preb_tipoPrestamo,preb.cantidadPrestada as preb_cantidadPrestada,
               rol.ROLES_rol as rol_rol_r 
        FROM  USUARIOS as us 
                       left join PRESTAMOS as pre on us.id=pre.USUARIOS_id
                       left join PRESTAMOS_BASICOS as preb on  us.id=preb.USUARIOS_id
                       left join ROLES_USUARIOS as rol on us.id=rol.USUARIOS_id
    </select>
    
    <insert id='registrarEquipoNuevo'>
        INSERT into EQUIPOS(serial,nombre,placa,marca,descripcion,estado,subestados,proveedor) values (#{equipo.serial},#{equipo.nombre},#{equipo.placa},#{equipo.marca},#{equipo.descripcion},#{equipo.estado},#{equipo.subEstado},#{equipo.proveedor});
    </insert>
    
    <insert id='registrarModeloNuevo'>
        INSERT into MODELOS(nombre,clase,vidaUtil,valor,seguro,foto) values (#{modelo.nombre},#{modelo.clase},#{modelo.vidaUtilHoras},#{modelo.valorComercial},#{modelo.seguro},#{modelo.foto})
    </insert>
    
    <insert id='registrarEquipoBasicoNuevo'>
        INSERT into EQUIPOS_BASICOS(nombre,valor,foto,descripcion,cantidad) values (#{equipoBasico.nombre},#{equipoBasico.valor},#{equipoBasico.foto},#{equipoBasico.descripcion},#{equipoBasico.cantidadInventario})
    </insert>
</mapper>
    
    
    
    