<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>

    <typeAliases>
      <typeAlias type='edu.eci.pdsw.entities.Equipo' alias='Equipo'/>
      <typeAlias type='edu.eci.pdsw.entities.EquipoBasico' alias='EquipoBasico'/>
      <typeAlias type='edu.eci.pdsw.entities.PrestamoBasicoEquipo' alias='PrestamoBasicoEquipo'/>
      <typeAlias type='edu.eci.pdsw.entities.PrestamoBasicoUsuario' alias='PrestamoBasicoUsuario'/>
      <typeAlias type='edu.eci.pdsw.entities.PrestamoEquipo' alias='PrestamoEquipo'/>
      <typeAlias type='edu.eci.pdsw.entities.PrestamoUsuario' alias='PrestamoUsuario'/>
      <typeAlias type='edu.eci.pdsw.entities.Modelo' alias='Modelo'/>
      <typeAlias type='edu.eci.pdsw.entities.Rol' alias='Rol'/>
      <typeAlias type='edu.eci.pdsw.entities.RolRol' alias='RolRol'/>
      <typeAlias type='edu.eci.pdsw.entities.RolUsuario' alias='RolUsuario'/>
      <typeAlias type='edu.eci.pdsw.entities.Usuario' alias='Usuario'/>
    </typeAliases>
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://desarrollo.is.escuelaing.edu.co:3306/pdsw02" />
                <property name="username" value="pdsw02" />
                <property name="password" value="pdswgr202" />
            </dataSource>
        </environment>
    </environments>

                        
    <mappers>
        <mapper resource="mappers/EquiposMapper.xml"></mapper>
    </mappers> 

        
                        
</configuration>
